<% if (locals.errors) { %>
    <ul>
        <% Object.values(errors).forEach(function(error){ %>
            <li>
                <%= error.msg %>
            </li>
            <% }); %>
    </ul>
    <% } %>